.contato {
	padding: 3rem 1rem 0;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.contato__imagem{
	width: 150px;
	border-radius: 100%;
}
.contato__user {
	font-weight: bold;
	text-align: unset;
}
.contato__purple {
	color: var(--cintia-dark-purple);
}
.contato__propriedade {
	margin-left: 20px;
	padding: 0 10px;
}
.contato__valor {
	color: #000;
	text-decoration: none;
}

@media (min-width: 992px) {
	.contato {
		padding-left: 10%;
		padding-right: 10%;
	}
}