.feedback {
    width: 90vw;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
    border-radius: 5px;
    border-bottom: 1px solid #d4dadf;
    border-right: 1px solid #d4dadf;
}

.feedback__user {
    padding: 10px;
    display: flex;
    align-items: center;
}

.feedback__img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.feedback__titulo {
    font-weight: bold;
}


@media (min-width: 769px) {
    .feedback {
        width: 45%;
    }
}