.feedback {
    width: 90vw;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--cintia-white-green);
    border-radius: 5px;
    border-bottom: 1px solid #d4dadf;
    border-right: 1px solid #d4dadf;
}

.feedback__user {
    padding: 10px 10px 0 10px;;
    display: flex;
    align-items: center;
}

.feedback__img {
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.feedback__titulo {
    font-weight: bold;
}

.feedback__texto {
    padding: 15px 30px;
    margin: 0;
}

@media (min-width: 769px) {
    .feedback {
        width: 45%;
        align-self: baseline;
    }
}