.home__loading {
	display: block;
	margin: 0 auto;
}

.home__busca {
	display: flex;
	flex-direction: column;
}

select {
	padding: 5px;
	font-size: larger;
	background: var(--cintia-white-purple);
}

select:active, select:hover {
  outline: none
}

option {
	font-size: medium;
}

option:active {
	background: var(--cintia-dark-purple);
	color: #fff;
}

@media (min-width: 992px) {

	.feedbacks {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
	}
}