.home__loading {
	display: block;
	margin: 0 auto;
}

.home__busca {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.home__section:nth-child(even) {
	padding: 50px 0;
	background-color: rebeccapurple;
}

.home__section:nth-child(odd) {
	padding: 50px 0;
	background-color: var(--cintia-white-yellow);
}

select {
	margin: 20px;
	padding: 2px;
	font-size: 20px;
	background: var(--cintia-white-green);
	color: var(--cintia-dark-purple);
	right: 100px;
	border: 1px solid var(--cintia-dark-purple);
}

textarea {
	font-family: inherit;
	width: 300px;
	border-radius: 10px;
	padding: 10px;
	box-sizing: border-box;
	margin: 20px 0;
	min-height: 150px;
	background: var(--cintia-white-green);
}

.feedbacks {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.feedback__button {
	background: var(--cintia-light-purple);
	border: 1px solid var(--cintia-light-purple);
	border-radius: 10px;
	padding: 10px 30px;
	color: var(--cintia-white-yellow);
	transition: ease-in-out 0.5s;
}

.feedback__button:hover {
	background: var(--cintia-medium-purple);
	transition: ease-in-out 0.5s;
}

h2 {
	text-align: center;
	margin: 0;
	padding: 20px 0;
}

@media (min-width: 769px) {
	.feedbacks {
		flex-direction: row;
		justify-content: space-around;
		flex-wrap: wrap;
	}

}