.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	/* flex: 0 60px; */
	min-height: 50px;
	padding: 0 10px;
	background: #ffffff;
	border-bottom: 1px solid #d4dadf;
	box-shadow: 0 1px 1px 0 #f0f1f4;
}

.navbar a {
	outline: none;
	color: #000;
	text-decoration: none;
	font-weight: bold;
}

.navbar__logo {
	color: var(--cintia-base-purple)
}

@media (min-width: 769px) {
	.navbar {
		padding: 0 10%;
	}
}